<div class="hero-unit">
  <h1>Welcome to Melissa's Tea Store!</h1>
<p>
	You've found the best place online for tea
	<%=link_to "Take a sip!", " http:onemonthrails.com"%> Tons of varia-teas!.
</p>

<br> 

<p style="text-align:center;">
<img alt="eBillity - Time
Tracking" src="
http://www.ronmulvey.ca/wp-content/uploads/2013/06/storm-in-a-tea-cup-1.jpg" align="middle" height="335" width="500">
</p>



<p> 

	<%= link_to "Sign Up Meow!!!!", "#", class: "btn btn-primary btn-large" %>

	</p>

	</div>
</div>

